# 0.1 Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# 0.2 Importing Data

In [2]:
# Import data
path = r"C:\Users\quinn\PycharmProjects\Instacart Basket Analysis 06-30-2021"
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

# 0.3 Data Consistency Checks

### Finding and addressing mixed data types

In [12]:
# Create a test dataframe
df_test = pd.DataFrame()
#create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]
df_test

    mix
0     a
1     b
2     1
3  True

In [13]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

In [14]:
# How to fix mixed columns
df_test['mix'] = df_test['mix'].astype('str')

### Finding and addressing missing values

In [3]:
# finding missing Values insull counts for N/A and sum adds up the 1 and 0
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [4]:
# to see the rows of missing values
df_nan = df_prods[df_prods['product_name'].isnull()== True]
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [21]:
df_prods.shape

(49693, 5)

In [6]:
# Addressing missing values
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]

In [7]:
df_prods_clean.shape

(49677, 5)

### Finding and addressing duplicate records

In [8]:
# finding Duplicates
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [9]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [10]:
df_prods_clean.shape

(49677, 5)

In [11]:
# creating a new database for df_prods that has not duplicates
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prods_clean_no_dups.shape

(49672, 5)

# saving it to a new dataframe

In [12]:
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

# Task

### 1.consistency checks 2. describe the output

In [16]:
# consistency checks for prods
df_prods.describe()

         product_id      aisle_id  department_id        prices
count  49693.000000  49693.000000   49693.000000  49693.000000
mean   24844.345139     67.770249      11.728433      9.994136
std    14343.717401     38.316774       5.850282    453.519686
min        1.000000      1.000000       1.000000      1.000000
25%    12423.000000     35.000000       7.000000      4.100000
50%    24845.000000     69.000000      13.000000      7.100000
75%    37265.000000    100.000000      17.000000     11.200000
max    49688.000000    134.000000      21.000000  99999.000000

The only thing that needs to be changed is the id to strings becuse the id data wont really help us

In [31]:
# consistency checks for prods
df_ords.describe()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710541e+06,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552705e+05,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710541e+06,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421082e+06,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

So for this one first off I dont know why I have a unamed column.
I am guessing it is a row count that was put in there when transferd to csv.
second i dont know why the order hour of the day is a decimal point off.

### 3. Check for mixed type data in orders

In [32]:
for col in df_ords.columns.tolist():
  weird = (df_ords[[col]].applymap(type) != df_ords[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords[weird]) > 0:
    print (col)

4. Nothing poped up

### 5. run a check for missing values in your orders

In [33]:
df_ords.isnull().sum()

Unnamed: 0                     0
order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

only days since prior order has missing values which I think is fine becuse it probably means a new customer that just used the app.

### 6. Address the missing values using an appropriate method

In [34]:
df_ords.shape

(3421083, 8)

In [36]:
df_ords_clean = df_ords[df_ords['days_since_prior_order'].isnull() == False]
df_ords_clean.shape

(3214874, 8)

I did not want to overwrite the other data so I made a new one

### 7. Run a check for duplicates values in you orders data

In [37]:
df_ords_dups = df_ords[df_ords.duplicated()]
df_ords_dups

Empty DataFrame
Columns: [Unnamed: 0, order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

There are no duplicates

### 8. Address the duplicates usiong an appropriate method

df_ords_no_dups = df_ords.drop_duplicates()

If there were duplicates i would have used trhis code to make a new dataframe and used that but there are none.

### 9. Export your final cleaned orders data

In [38]:
df_ords_clean.to_csv(os.path.join(path,'02 Data','Prepared Data','orders_checked.csv'))