# Task 4.6 combining

### 1. done

### 2. done

### 3. import the new file and products

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [3]:
# import files
path = r"C:\Users\quinn\PycharmProjects\Instacart Basket Analysis 06-30-2021"
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### 4. Check shape of the imported dataframe

In [4]:
# checking products
df_prods.shape

(49672, 6)

In [5]:
# checking shape
df_ords_prods.shape

(32434489, 11)

### 5. Determine a suitable way to combine the dataframes

In [16]:
# Looking for a key
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
# looking for a key
df_ords_prods.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

####  product_id is the Key between both of them

### merging

In [8]:
# test merge
#pd.merge(df_prods,df_ords_prods, on = 'product_id',how = 'right')

In [9]:
# combining 
order_products_combined = df_prods.merge(df_ords_prods, on = 'product_id',how = 'right')

In [10]:
#checking
order_products_combined['_merge'].value_counts()

both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64

### 7. export

In [12]:
order_products_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged1.pkl'))

In [6]:
df_prods.shape

(49672, 6)

In [8]:
cf =df_prods.dropna()

In [9]:
cf.shape

(49672, 6)